<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/style.css">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body class="about content started">
  <div class="lang">Language: english</div>
  <div class="start-wrapper circle">
    <h1>UNIQUE.</h1>
    <h2>The best of you</h2>
    <button id="start-btn">Start</button>
    <a href="#" class="register">Register?</a>
  </div>
  <div class="burger">
    <svg width="50" height="23" viewBox="0 0 50 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="50" height="5" rx="2.5" fill="#00F0FF"/>
      <rect y="9" width="50" height="5" rx="2.5" fill="#00F0FF"/>
      <rect y="18" width="50" height="5" rx="2.5" fill="#00F0FF"/>
      </svg>
  </div>
  <nav class="nav-menu content">
    <ul>
      <li class="item-home">
        <div class="line">
          <img src="../assets/images/home-stroke.svg" alt="">
        </div>
        <a href="./index.html">Home</a>
      </li>
      <li class="active item-about">
        <div class="line">
          <img src="../assets/images/about-stroke.svg" alt="">
        </div>

        <a href="./about.html">About us</a>
      </li>
      <li class="item-tariffs">
        <div class="line">
          <img src="../assets/images/tariffs-stroke.svg" alt="">
        </div>

        <a href="./tariffs.html">Tariff plans</a>
      </li>
      <li class="item-faq">
        <div class="line">
          <img src="../assets/images/faq-stroke.svg" alt="">
        </div>

        <a href="./faq.html">FAQ</a>
      </li>
      <li class="item-contacts">
        <div class="line">
          <img src="../assets/images/contact-stroke.svg" alt="">
        </div>
        <a href="./contacts.html">Contact us</a>
      </li>
    </ul>
  </nav>
  <main class="about content">
    <div class="big-title">What do we are?</div>
    <div class="content">
      <p>Unique Investment Group is a partner of GlobalFoundries Inc. of the United States, which produces semiconductor integrated circuits and chips. This company, in turn, was established on March 2, 2009. It includes factories for the production of semiconductors, located around the world (USA, China, Germany, France, Korea, Taiwan, India, Japan, Singapore). Also in the near future opens a factory in Abu Dhabi.</p>

      <p>According to Trend Force, at the end of 2020, Unique Investment Group was the second-largest contract manufacturer of semiconductor chips, with a market share of 14, 8%.</p>

      <p>Due to the increased demand for semiconductors and chips in 2021, they are supplied to such world famous companies as Broadcom, Qualcomm, AMD, IBM, as well as for the automobile concerns Jaguar, Range Rover and several other major automobile manufacturers.</p>

      <p>At a meeting of the board of directors, where Unique owns a parity shareholding, it was decided to open an investment area for private investors. Their finances will be directed to the production of the existing factory located on the island of Taiwan, in order to increase the production capacity, as well as to increase the volume of purchase and supply of raw materials of rare-earth metals, which are used in the production of semiconductor integrated circuits and chips. Unique offers investors favorable conditions with a high interest rate on all represented tariff plans.</p>

      <p>Unique guarantees reimbursement of the investlong-term partnership on mutually beneficial terms.</p>
    </div>
  </main>
  <script src="../app/app.js"></script>
</body>

</html>