<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/style.css">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body class="about started">
  <div class="lang account">Language: english</div>
  <div class="start-wrapper circle account">
    <h1>UNIQUE.</h1>
    <h2>The best of you</h2>
    <button id="start-btn">Start</button>
    <a href="#" class="register">Register?</a>
  </div>
  <nav class="nav-menu content account">
    <ul>
      <li class="active item-home">
        <div class="line">
          <img src="../assets/images/home-stroke.svg" alt="">
        </div>
        <a href="./account.html">Profile</a>
      </li>
      <li class="item-about">
        <div class="line">
          <img src="../assets/images/about-stroke.svg" alt="">
        </div>

        <a href="./about.html">About us</a>
      </li>
      <li class="item-tariffs">
        <div class="line">
          <img src="../assets/images/tariffs-stroke.svg" alt="">
        </div>

        <a href="./tariffs.html">Tariff plans</a>
      </li>
      <li class="item-faq">
        <div class="line">
          <img src="../assets/images/faq-stroke.svg" alt="">
        </div>

        <a href="./faq.html">FAQ</a>
      </li>
      <li class="item-contacts">
        <div class="line">
          <img src="../assets/images/contact-stroke.svg" alt="">
        </div>
        <a href="./contacts.html">Contact us</a>
      </li>
    </ul>
  </nav>

  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="../app/app.js"></script>
</body>

</html>
