<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/style.css">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body class="about content started">
  <div class="lang">Language: english</div>
  <div class="start-wrapper circle">
    <h1>UNIQUE.</h1>
    <h2>The best of you</h2>
    <button id="start-btn">Start</button>
    <a href="#" class="register">Register?</a>
  </div>
  <div class="burger">
    <svg width="50" height="23" viewBox="0 0 50 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="50" height="5" rx="2.5" fill="#00F0FF"/>
      <rect y="9" width="50" height="5" rx="2.5" fill="#00F0FF"/>
      <rect y="18" width="50" height="5" rx="2.5" fill="#00F0FF"/>
      </svg>
  </div>
  <nav class="nav-menu content">
    <ul>
      <li class="item-home">
        <div class="line">
          <img src="../assets/images/home-stroke.svg" alt="">
        </div>
        <a href="./index.html">Home</a>
      </li>
      <li class="item-about">
        <div class="line">
          <img src="../assets/images/about-stroke.svg" alt="">
        </div>

        <a href="./about.html">About us</a>
      </li>
      <li class="item-tariffs">
        <div class="line">
          <img src="../assets/images/tariffs-stroke.svg" alt="">
        </div>

        <a href="./tariffs.html">Tariff plans</a>
      </li>
      <li class="item-faq">
        <div class="line">
          <img src="../assets/images/faq-stroke.svg" alt="">
        </div>

        <a href="./faq.html">FAQ</a>
      </li>
      <li class="active item-contacts">
        <div class="line">
          <img src="../assets/images/contact-stroke.svg" alt="">
        </div>
        <a href="./contacts.html">Contact us</a>
      </li>
    </ul>
  </nav>
  <main class="contacts content">
    <div class="big-title">Contact us:</div>
    <div class="contact-container">
      <div class="row">
        <div class="col">
          <div class="location">
            <div class="thumb">
              <img src="../assets/images/contact-location.svg" alt="">
            </div>
            <p>Hsinchu, Taiwan <br>
              20F-6, No.118, Ciyun Rd., East Dist., <br> Hsinchu City 30072, Taiwan</p>
          </div>
          <div class="call">
            <div class="thumb">
              <img src="../assets/images/contact-call.svg" alt="">
            </div>
            <p>
              Tel: +886-3-501-1800 <br>
              Fax: +886 3-516-3355
            </p>
          </div>
        </div>
        <div class="col">
          <div class="admins">
            <div class="admin-item">
              <div class="thumb">
                <img src="../assets/images/contact-admin-1.svg" alt="">
              </div>
              <p>Unique speaker</p>
            </div>
            <div class="admin-item">
              <div class="thumb">
                <img src="../assets/images/contact-admin-2.svg" alt="">
              </div>
              <p>Unique support</p>
            </div>
            <div class="admin-item">
              <div class="thumb">
                <img src="../assets/images/contact-admin-3.svg" alt="">
              </div>
              <p>Unique administrator</p>
            </div>
          </div>
          <div class="worktime">
            <div class="worktime-row">
              <div class="thumb">
                <img src="../assets/images/contact-clock.svg" alt="">
              </div>
              <ul class="worktime-list">
                <li class="item">mon</li>
                <li class="item">tue</li>
                <li class="item">wen</li>
                <li class="item">thr</li>
                <li class="item">fri</li>
                <li class="item">sat</li>
                <li class="item no-work">sunday</li>
              </ul>
            </div>
            <div class="description">
              24/6 <br>
              We will answer you in turn
            </div>
          </div>
        </div>
      </div>
      <div class="row form">
        <div class="sign-form contacts">
          <form action="#">
            <div class="form-container">
              <div class="title">Fill in the fields of the form and send a message:</div>
              <div class="form-group">
                <input type="email" id="email" name="email" placeholder="E-Mail">
              </div>
              <div class="form-group">
                <input type="text" id="subject" name="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <input type="text" id="question" name="question" placeholder="Question">
              </div>
              <button type="submit" class="submit" id="send">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <div class="modal modal-contact-form">
    <div class="container">
      <div class="close">&times;</div>
      <div class="title">Thank you!</div>
      <div class="thumb">
        <img src="../assets/images/contact-sended.svg" alt="">
      </div>
      <div class="description">
        Тhe application has been submitted and will be reviewed on a first come, first served basis.
      </div>
    </div>
  </div>
  <script src="../app/app.js"></script>
</body>

</html>