<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/style.css">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body class="about content started">
  <div class="lang">Language: english</div>
  <div class="start-wrapper circle">
    <h1>UNIQUE.</h1>
    <h2>The best of you</h2>
    <button id="start-btn">Start</button>
    <a href="#" class="register">Register?</a>
  </div>
  <div class="burger">
    <svg width="50" height="23" viewBox="0 0 50 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="50" height="5" rx="2.5" fill="#00F0FF"/>
      <rect y="9" width="50" height="5" rx="2.5" fill="#00F0FF"/>
      <rect y="18" width="50" height="5" rx="2.5" fill="#00F0FF"/>
      </svg>
  </div>
  <nav class="nav-menu content">
    <ul>
      <li class="item-home">
        <div class="line">
          <img src="../assets/images/home-stroke.svg" alt="">
        </div>
        <a href="./index.html">Home</a>
      </li>
      <li class="item-about">
        <div class="line">
          <img src="../assets/images/about-stroke.svg" alt="">
        </div>

        <a href="./about.html">About us</a>
      </li>
      <li class="item-tariffs">
        <div class="line">
          <img src="../assets/images/tariffs-stroke.svg" alt="">
        </div>

        <a href="./tariffs.html">Tariff plans</a>
      </li>
      <li class="active item-faq">
        <div class="line">
          <img src="../assets/images/faq-stroke.svg" alt="">
        </div>

        <a href="./faq.html">FAQ</a>
      </li>
      <li class="item-contacts">
        <div class="line">
          <img src="../assets/images/contact-stroke.svg" alt="">
        </div>
        <a href="./contacts.html">Contact us</a>
      </li>
    </ul>
  </nav>
  <main class="faq content">
    <div class="big-title">Popular questions:</div>
    <div class="faq-container">
      <div class="faq-item">
        <div class="question">What payment systems does Unique work with?</div>
        <div class="answer">The company works with the payment system  Perfect Money</div>
      </div>
      <div class="faq-item">
        <div class="question">How many tariff plans are available for connection in one personal cabinet?</div>
        <div class="answer">The company works with the payment system  Perfect Money</div>
      </div>
      <div class="faq-item">
        <div class="question">In the event of an insured event, how long will I receive insurance payments on the deposit and interest accruals?</div>
        <div class="answer">The company works with the payment system  Perfect Money</div>
      </div>
      <div class="faq-item">
        <div class="question">In what currency can I invest?</div>
        <div class="answer">The company works with the payment system  Perfect Money</div>
      </div>
      <div class="faq-item">
        <div class="question">Does the company charge extra commission?</div>
        <div class="answer">The company works with the payment system  Perfect Money</div>
      </div>
      <div class="faq-item">
        <div class="question">Can I invest from a non-verified wallet?</div>
        <div class="answer">The company works with the payment system  Perfect Money</div>
      </div>
    </div>
  </main>
  <script src="../app/app.js"></script>
</body>

</html>