<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/style.css">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>
<body class="started auth">
  <div class="container">
    <a href="./index.html" class="close">&times;</a>
    <div class="small-circle">
      <h1>UNIQUE.</h1>
      <h2>The best of you</h2>
    </div>
    <div class="sign-form forgot-password">
      <form action="#">
        <div class="form-container">
          
          <div class="form-group">
            <input type="tel" id="phone" name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <input type="email" id="email" name="email" placeholder="E-Mail">
          </div>
          <button type="submit" class="submit">Restore</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>