
  <div class="container">
    <a href="./index.html" class="close">&times;</a>
    <div class="small-circle">
      <h1>UNIQUE.</h1>
      <h2>The best of you</h2>
    </div>
    <div class="sign-form forgot-password">
      <form action="#">
        <div class="form-container">
          <div class="form-row">
            <div class="form-group">
              <input type="text" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" id="lastname" name="lastname" placeholder="Lastname">
            </div>
          </div>
          <div class="form-group">
            <input type="tel" id="phone" name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <input type="email" id="email" name="email" placeholder="E-Mail">
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" id="password-confirmation" name="password_confirmation" placeholder="Confirm password">
          </div>
          <div class="form-checkbox">
            <label for="process-data">I consent to the processing of personal data</label>
            <input type="checkbox" id="process-data" name="process_data">
          </div>
          <button type="submit" class="submit" id="register">Register</button>
        </div>
      </form>
    </div>
  </div>
  <script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
