<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/style.css">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body class="about content started">
  <div class="lang">Language: english</div>
  <div class="start-wrapper circle">
    <h1>UNIQUE.</h1>
    <h2>The best of you</h2>
    <button id="start-btn">Start</button>
    <a href="#" class="register">Register?</a>
  </div><div class="burger">
    <svg width="50" height="23" viewBox="0 0 50 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="50" height="5" rx="2.5" fill="#00F0FF"/>
      <rect y="9" width="50" height="5" rx="2.5" fill="#00F0FF"/>
      <rect y="18" width="50" height="5" rx="2.5" fill="#00F0FF"/>
      </svg>
  </div>
  <nav class="nav-menu content">
    <ul>
      <li class="item-home">
        <div class="line">
          <img src="../assets/images/home-stroke.svg" alt="">
        </div>
        <a href="./index.html">Home</a>
      </li>
      <li class="item-about">
        <div class="line">
          <img src="../assets/images/about-stroke.svg" alt="">
        </div>

        <a href="./about.html">About us</a>
      </li>
      <li class="active item-tariffs">
        <div class="line">
          <img src="../assets/images/tariffs-stroke.svg" alt="">
        </div>

        <a href="./tariffs.html">Tariff plans</a>
      </li>
      <li class="item-faq">
        <div class="line">
          <img src="../assets/images/faq-stroke.svg" alt="">
        </div>

        <a href="./faq.html">FAQ</a>
      </li>
      <li class="item-contacts">
        <div class="line">
          <img src="../assets/images/contact-stroke.svg" alt="">
        </div>
        <a href="./contacts.html">Contact us</a>
      </li>
    </ul>
  </nav>
  <main class="tariffs content">
    <div class="big-title">Choose your Tariff Plan:</div>
    <div class="tariff-container">
      <div class="tariff-item standard">
        <div class="row">
          <div class="col">
            <div class="title">
              Standard
            </div>
            <div class="period">
              Deposit period: <span>30 days.</span>
            </div>
          </div>
          <div class="col">
            <div class="value">
              50$ - 1000$
            </div>
            <div class="profit">
              1%/day
            </div>
          </div>
        </div>
        <div class="row">
          <div class="description">
            Withdrawal is available from 50$!
          </div>
        </div>
      </div>
      <div class="tariff-item optima">
        <div class="row">
          <div class="col">
            <div class="title">
              Optima
            </div>
            <div class="period">
              Deposit period: <span>45 days.</span>
            </div>
          </div>
          <div class="col">
            <div class="value">
              1000$ - 3000$
            </div>
            <div class="profit">
              3%/day
            </div>
          </div>
        </div>
        <div class="row">
          <div class="description">
          </div>
        </div>
      </div>
      <div class="tariff-item ultra">
        <div class="row">
          <div class="col">
            <div class="title">
              Ultra
            </div>
            <div class="period">
              Deposit period: <span>60 days.</span>
            </div>
          </div>
          <div class="col">
            <div class="value">
              3000$ - 10000$
            </div>
            <div class="profit">
              7%/day
            </div>
          </div>
        </div>
        <div class="row">
          <div class="description">
          </div>
        </div>
      </div>
      <div class="tariff-item personal">
        <div class="row">
          <div class="col">
            <div class="title">
              Personal
            </div>
            <div class="period">
              Deposit period: <span>75 days.</span>
            </div>
          </div>
          <div class="col">
            <div class="value">
              1000$ - 30000$
            </div>
            <div class="profit">
              18%/day
            </div>
          </div>
        </div>
        <div class="row">
          <div class="description">
          </div>
        </div>
      </div>
      <div class="tariff-item omega">
        <div class="row">
          <div class="col">
            <div class="title">
              Omega
            </div>
          </div>
          <div class="col">
            <div class="value">
              50000$ - 1000000$
            </div>
          </div>
        </div>
        <div class="row">
          <div class="description">
            Business offers for existing investors.
          </div>
        </div>
      </div>
      <div class="tariff-item referral">
        <div class="row">
          <div class="col">
            <div class="title">
              Referral
            </div>
          </div>
          <div class="col">
            <div class="value">
              5/3/2%
            </div>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </main>
  <script src="../app/app.js"></script>
</body>

</html>