* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    overflow: hidden;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body.home {
    background-image: url(./assets/images/home-bg.svg),
        linear-gradient(72.93deg, #bcbcbc 0%, #ffffff 37.38%, #bebebe 93.61%);
}
body.about {
    background-image: url(./assets/images/about-bg.svg),
        linear-gradient(72.93deg, #bcbcbc 0%, #ffffff 37.38%, #bebebe 93.61%);
}
body.tariffs {
    background-image: url(./assets/images/tariffs-bg.svg),
        linear-gradient(72.93deg, #bcbcbc 0%, #ffffff 37.38%, #bebebe 93.61%);
}

a {
    text-decoration: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 999999999;
}
.overlay img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.overlay.loaded {
    opacity: 0;
}

.wrapper {
    padding: 0 30px;
    padding-top: 35px;
    max-width: 1300px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__container {
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 126px;
    margin-right: 20px;
}
.header__logo img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu__list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 65px;
    list-style: none;
}
.nav-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu__item a {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.89);
    display: block;
    position: relative;
    display: block;
    transition: 0.3s;
}
.nav-menu__item a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #000;
    transition: 0.3s;
}
.nav-menu__item a:hover {
    transform: translateY(-5px);
}
.nav-menu__item a:hover::after {
    width: 100%;
    bottom: -5px;
}
.nav-menu__item--register a {
    background: #000000;
    border-radius: 4px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    padding: 20px 60px;
    text-transform: uppercase;
    display: block;
    position: relative;
}
.nav-menu__item--register a::after {
    content: none;
}
.nav-menu__item--register a::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    transition: 0.3s;
    opacity: 0;
}
.nav-menu__item--register a:hover::before {
    top: 6px;
    left: 6px;
    opacity: 1;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-block {
    width: 100%;
}
.home-block__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title thumb" "desc  thumb";
    grid-column-gap: 215px;
}
.home-block__title {
    grid-area: title;
}
.home-block__title p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: calc(32px + 32 * ((100vw - 320px) / 1600));
    line-height: calc(8px + 32px + 32 * ((100vw - 320px) / 1600));
    color: #000000;
}
.home-block__title p:nth-child(2) {
    padding-left: 90px;
}
.home-block__title p:nth-child(3) {
    padding-left: 180px;
}
.home-block__description {
    grid-area: desc;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    max-width: 520px;
    margin-top: 50px;
}
.home-block__register-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background: #000000;
    border-radius: 4px;
    padding: 20px 60px;
    margin-top: 85px;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: 0.3s;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.home-block__register-btn::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    transition: 0.3s;
    opacity: 0;
}
.home-block__register-btn:hover {
    transform: translateY(-5px);
}
.home-block__register-btn:hover::before {
    top: 6px;
    left: 6px;
    opacity: 1;
}
.home-block__thumbnail {
    grid-area: thumb;
    width: 518px;
    height: 100%;
}
.home-block__thumbnail img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center center;
    object-position: center center;
}

.footer__container {
    padding: 32px 0;
    border-top: 1px solid #000;
}
.footer__copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */
    text-transform: uppercase;
}

.tariffs__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 64px;
}
.tariffs__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 20px;
}

.tariff-item {
    padding: 34px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.3s;
}
.tariff-item:nth-child(1) {
    background: linear-gradient(
        225.17deg,
        #ffffff 0.66%,
        rgba(255, 255, 255, 0) 100%
    );
    filter: drop-shadow(0px 4px 17px rgba(0, 0, 0, 0.15));
}
.tariff-item:nth-child(2) {
    background: linear-gradient(
        225.55deg,
        #c2c2c2 0%,
        rgba(255, 255, 255, 0) 100%
    );
    filter: drop-shadow(0px 4px 17px rgba(0, 0, 0, 0.15));
}
.tariff-item:nth-child(3) {
    background: linear-gradient(
        224.86deg,
        #818181 0.59%,
        rgba(197, 197, 197, 0) 99.41%
    );
    filter: drop-shadow(0px 4px 17px rgba(0, 0, 0, 0.15));
}
.tariff-item:nth-child(4) {
    background: linear-gradient(
        225.55deg,
        #6c6c6c 0%,
        rgba(139, 139, 139, 0) 100%
    );
    filter: drop-shadow(0px 4px 17px rgba(0, 0, 0, 0.15));
}
.tariff-item:nth-child(5) {
    background: linear-gradient(
        225.55deg,
        #414141 0%,
        rgba(78, 78, 78, 0) 100%
    );
    filter: drop-shadow(0px 4px 17px rgba(0, 0, 0, 0.15));
}
.tariff-item:nth-child(6) {
    background: linear-gradient(224.94deg, #151515 2.57%, #858585 101.08%);
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15);
}
.tariff-item:nth-child(6) * {
    color: #fff !important;
}
.tariff-item__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}
.tariff-item__row {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tariff-item__period {
    margin-bottom: 15px;
}
.tariff-item__period p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__period p:nth-child(1) {
    margin-bottom: 5px;
}
.tariff-item__period p:nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__period p:nth-child(2) span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__value {
    margin-bottom: 15px;
}
.tariff-item__value p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__value p:nth-child(1) {
    margin-bottom: 5px;
}
.tariff-item__value p:nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__value p:nth-child(2) span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__profit {
    margin-bottom: 15px;
}
.tariff-item__profit p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__profit p:nth-child(1) {
    margin-bottom: 5px;
}
.tariff-item__profit p:nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__profit p:nth-child(2) span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__description {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000;
}
.tariff-item__invest-btn {
    align-self: flex-end;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */
    text-transform: uppercase;
    color: #ffffff;
    background: #000000;
    border-radius: 4px;
    padding: 6px 36px;
    transition: 0.15s;
}
.tariff-item__invest-btn:hover {
    background: #888;
    color: #000 !important;
}
.tariff-item:hover {
    transform: translateY(-10px);
}

.contacts__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 65px;
}
.contacts__grid {
    display: grid;
    grid-template-areas: "sup sup form form" "map map map  addr";
    grid-gap: 23px 74px;
}

.support {
    grid-area: sup;
}
.support__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.support__row {
    display: flex;
}
.support__item {
    background: linear-gradient(222.86deg, #d9d9d9 15.1%, #ffffff 85.57%);
    border-radius: 300px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.support__item p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #868686;
}
.support__item + div {
    margin-left: 20px;
}

.contact-form {
    grid-area: form;
    display: grid;
    grid-template-rows: 58px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "email email submit" "msg   msg   msg";
    grid-gap: 12px 36px;
    align-items: end;
}
.contact-form__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.contact-form__group.email {
    grid-area: email;
}
.contact-form__group.message {
    grid-area: msg;
}
.contact-form__group label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin-bottom: 4px;
}
.contact-form__group input {
    background: #e8e8e8;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    height: 42px;
    width: 100%;
}
.contact-form__group textarea {
    background: #e8e8e8;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    width: 100%;
    min-height: 200px;
}
.contact-form__submit {
    grid-area: submit;
    background: #000000;
    border-radius: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    /* identical to box height */
    color: #ffffff;
    padding: 12px 63px;
    text-transform: uppercase;
    height: 42px;
    cursor: pointer;
}

.contact-map {
    grid-area: map;
}
.contact-map__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.contact-address {
    grid-area: addr;
}
.contact-address__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.contact-address__address {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #878787;
}

.about__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 45px;
    margin-top: 50px;
}
.about__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.about__row:nth-child(5) {
    margin-top: 180px;
}
.about__row img {
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 20px;
    margin-left: 0;
}
.about__row--reverse {
    flex-direction: row-reverse;
}
.about__row--reverse img {
    margin-left: 20px;
    margin-right: 0;
}
.about__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.about__text h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 15px;
}
.about__text p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #6f6f6f;
}
.about__register {
    align-self: flex-end;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */
    text-transform: uppercase;
    color: #ffffff;
    background: #000000;
    border-radius: 4px;
    padding: 20px 60px;
    margin-top: 45px;
    display: block;
    position: relative;
    transition: 0.3s;
}
.about__register::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    transition: 0.3s;
    opacity: 0;
}
.about__register:hover {
    transform: translateY(-5px);
}
.about__register:hover::before {
    top: 6px;
    left: 6px;
    opacity: 1;
}
.about__description {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    max-width: 860px;
    margin: 0 auto;
    margin-top: 60px;
}
.about__big-text p {
    font-family: "Raleway";
    font-style: normal;
    font-size: calc(32px + 16 * ((100vw - 320px) / 1600));
    line-height: calc(8px + 32px + 16 * ((100vw - 320px) / 1600));
    color: #000000;
}
.about__big-text p:nth-child(1) {
    font-weight: 700;
}
.about__big-text p:nth-child(2) {
    padding-left: 110px;
    font-weight: 600;
}
.about__big-text p:nth-child(3) {
    padding-left: 400px;
    font-weight: 500;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
}
.faq__title {
    margin-top: 65px;
    margin-bottom: 65px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.faq__grid {
    align-self: center;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-gap: 45px;
}
.faq__item {
    position: relative;
    padding-left: 75px;
}
.faq__item::before {
    content: attr(data-count);
    display: block;
    position: absolute;
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    color: #868686;
    left: 0;
    top: 0;
}
.faq__item h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}
.faq__item p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #696969;
    margin-top: 15px;
}
.faq__row {
    align-self: center;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 85px;
}
.faq__no-questions h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.faq__no-questions p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.faq__support {
    margin-left: 105px;
    display: block;
    position: relative;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background: #000000;
    border-radius: 4px;
    padding: 20px 60px;
    text-transform: uppercase;
}
.faq__support::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 4px;
}

@media (max-width: 1300px) {
    .wrapper {
        max-width: 1024px;
    }
    .header .nav-menu__list {
        grid-gap: 30px;
    }
    .home-block__thumbnail {
        max-width: 400px;
    }
    .home-block__row {
        grid-column-gap: 150px;
    }
    .about__big-text p {
        font-family: "Raleway";
        font-style: normal;
        font-size: calc(32px + 16 * ((100vw - 320px) / 1600));
        line-height: calc(8px + 32px + 16 * ((100vw - 320px) / 1600));
        color: #000000;
    }
    .about__big-text p:nth-child(1) {
        font-weight: 700;
    }
    .about__big-text p:nth-child(2) {
        padding-left: 60px;
        font-weight: 600;
    }
    .about__big-text p:nth-child(3) {
        padding-left: 300px;
        font-weight: 500;
    }
    .about__row img {
        max-width: 400px;
    }
    .about__row--reverse img {
        max-width: 400px;
    }
}
@media (max-width: 1300px) and (max-width: 1024px) {
    .wrapper {
        max-width: 900px;
    }
    .header .nav-menu {
        position: fixed;
        top: 0;
        right: -260px;
        background: rgba(221, 221, 221, 0.75);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        width: 250px;
        height: 100vh;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        z-index: 999999;
        box-shadow: -5px 0 10px rgba(51, 51, 51, 0.15);
    }
    .header .nav-menu.show {
        visibility: visible;
        opacity: 1;
        right: 0;
    }
    .header .nav-menu__list {
        grid-gap: 40px;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
    .header .nav-menu__item--register a {
        padding: 15px 30px;
    }
    .header .nav-menu .close-menu {
        position: absolute;
        top: 30px;
        left: 15px;
        width: 40px;
        height: 40px;
        background-image: url(assets/images/arrow.svg);
        transform: rotate(90deg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .burger {
        width: 58px;
        height: 10px;
        background-image: url(assets/images/burger.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .home-block__row {
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: "title" "thumb" "desc";
    }
    .home-block__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 1300px) {
    .tariffs__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 900px) {
    .about__row {
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
    }
    .about__row img {
        width: 300px;
        margin: 0 !important;
    }
    .about__row:nth-child(5) {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 65px;
    }
    .about__row:nth-child(5) img {
        margin-left: 0;
        margin-top: 65px;
        width: 300px;
    }
    .about__big-text p {
        font-family: "Raleway";
        font-style: normal;
        font-size: calc(32px + 16 * ((100vw - 320px) / 1600));
        line-height: calc(8px + 32px + 16 * ((100vw - 320px) / 1600));
        color: #000000;
    }
    .about__big-text p:nth-child(1) {
        font-weight: 700;
    }
    .about__big-text p:nth-child(2) {
        padding-left: 30px;
        font-weight: 600;
    }
    .about__big-text p:nth-child(3) {
        padding-left: 250px;
        font-weight: 500;
    }
    .tariffs__grid {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 425px) {
    .home-block__thumbnail {
        width: 300px;
        max-width: 300px;
    }
} /*# sourceMappingURL=style.css.map */
